

<!--Cadastro-->
<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <h5 class="card-title">Cadastrar produto</h5>
      </div>
    </div>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <div class="col">
        <label for="id_produto" class="form-label">Id</label>
        <input
          type="number"
          class="form-control"
          id="id_produto"
          formControlName="id_produto"
        />
      </div>
      <div class="col">
        <label for="nome" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          formControlName="nome"
        />
      </div>
      <div class="col">
        <label for="descricao" class="form-label">Descrição</label>
        <input
          type="text"
          class="form-control"
          id="descricao"
          formControlName="descricao"
        />
      </div>
      <div class="col">
        <label for="preco" class="form-label">Preço</label>
        <input
          type="text"
          class="form-control"
          id="preco"
          formControlName="preco"
        />
      </div>
      <div class="col">
        <div class="form-check" style="margin: 30px;">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="status"
          />
          <label class="form-check-label" for="status"> Status </label>
        </div>
      </div>
    </div>

    <div class="row g-3">

      <div class="col">
        <label for="imagem" class="form-label">Imagem </label>
        <input
          type="text"
          class="form-control"
          id="imagem"
          formControlName="imagem"
        />
      </div>
    </div>
    <!--Botoes -->
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
        Adicionar
      </button>
    </div>
    <!--//Botoes -->
  </form>
</div>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <h5 class="card-title">Tabela de produtos</h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">#</th>

          <th class="text-center">Nome</th>

          <th class="text-center">Descrição</th>

          <th class="text-center">Preço</th>

          <th class="text-center">Status</th>

          <th class="text-center">Imagem</th>

          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of teste; let i = index">
          <td class="text-center">{{ produto.id_produto }}</td>

          <td class="text-center">{{ produto.nome }}</td>

          <td class="text-center">{{ produto.descricao }}</td>

          <td class="text-center">{{ produto.preco }}</td>

          <td class="text-center">{{ produto.status | ativo }}</td>

          <td class="texte-center">{{ produto.imagem }}</td>

          <td class="text-center">
            <div
              class="d-flex flex-row align-items-center justify-content-center"
            >
              <button
                type="button"
                class="btn btn-primary btn-sm"
                id="editar"
                [routerLink]="['..', 'editar', produto.id_produto]"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary purple-button btn-sm"
                id="botaolixo"
                (click)="del(produto.id_produto)"
                style="margin-left: 20px"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
