<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <h5 class="card-title">Tabela de produtos</h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">#</th>

          <th class="text-center">Nome</th>

          <th class="text-center">Descrição</th>

          <th class="text-center">Preço</th>

          <th class="text-center">Status</th>

          <th class="text-center">Imagem</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of produtos; let i=index">
          <td class="text-center">{{prod.id_produto}}</td>

          <td class="text-center">{{ prod.nome }}</td>

          <td class="text-center">{{ prod.descricao }}</td>

          <td class="text-center">{{ prod.preco }}</td>

          <td class="text-center">{{ prod.status }}</td>

          <td class="text-center">{{ prod.imagem }}</td>



        </tr>
      </tbody>

    </table>
  </div>
</div>
